.btn {
  border-radius: 28px;
  background-color: #fe724c;
  border: none;
  color: #fff;

  &:hover {
    background-color: #f67f5e;
  }
}

.accent {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 19px 58px;
}

.small {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 22px;
}
